development:
  deploy_host: '127.0.0.1'
  remote_path: './tmp'
  username: 'foo'
  repository: https://github.com/teachbase/tb-acme
  acme_endpoint: 'https://acme-staging.api.letsencrypt.org/'
  public_path: '/webapps/teachbase/teachbase2/public'
  private_path: '/webapps/teachbase/teachbase2/private'
  owner_email: 'mailto:help@teachbase.ru'
  front_domain: 'go.teachbase.ru'
  raven_dsn: 'https://example.com'

test:
  deploy_host: '127.0.0.1'
  remote_path: '/webapps/tb-acme'
  username: 'foo'
  repository: https://github.com/teachbase/tb-acme
  acme_endpoint: 'https://acme-staging.api.letsencrypt.org/'
  public_path: '/webapps/teachbase/teachbase2/public'
  private_path: '/webapps/teachbase/teachbase2/private'
  owner_email: 'mailto:help@teachbase.ru'
  front_domain: 'go.teachbase.ru'
  raven_dsn: 'https://example.com'

staging:
  deploy_host: 's2.teachbase.ru'
  username: 'deplo'
  remote_path: '/webapps/tb_acme'
  repository: https://github.com/teachbase/tb-acme
  acme_endpoint: 'https://acme-staging.api.letsencrypt.org/'
  acme_endpoint: 'https://acme-v02.api.letsencrypt.org/directory'
  public_path: '/webapps/tb_acme/public'
  private_path: '/webapps/tb_acme/shared/private'
  front_domain: 's2.teachbase.ru'
  owner_email: 'mailto:help@teachbase.ru'
  raven_dsn: 'https://example.com'

production:
  deploy_host: '127.0.0.1'
  remote_path: '/webapps/tb-acme'
  username: 'foo'
  repository: https://github.com/teachbase/tb-acme
  acme_endpoint: 'https://acme-v02.api.letsencrypt.org/directory'
  public_path: '/webapps/teachbase/teachbase2/public'
  private_path: '/webapps/teachbase/teachbase2/private'
  owner_email: 'mailto:help@teachbase.ru'
  front_domain: 'go.teachbase.ru'
  raven_dsn: 'https://example.com'
