development:
  deploy_host: '127.0.0.1'
  remote_path: '/webapps/tb-acme'
  username: 'foo'
  repository: https://github.com/teachbase/tb-acme
  acme_endpoint: 'https://acme-staging.api.letsencrypt.org/'
  public_path: '/webapps/teachbase/teachbase2/public'
  private_path: '/webapps/teachbase/teachbase2/private'
  owner_email: 'mailto:alekseenkoss@gmail.com'

development:
  deploy_host: '127.0.0.1'
  remote_path: '/webapps/tb-acme'
  username: 'foo'
  repository: https://github.com/teachbase/tb-acme
  acme_endpoint: 'https://acme-staging.api.letsencrypt.org/'
  public_path: '/webapps/teachbase/teachbase2/public'
  private_path: '/webapps/teachbase/teachbase2/private'
  owner_email: 'mailto:alekseenkoss@gmail.com'
