development:
  deploy_host: '127.0.0.1'
  remote_path: '/webapps/tb-acme'
  username: 'foo'
  repository: https://github.com/teachbase/tb-acme

production:
  deploy_host: '127.0.0.1'
  username: 'foo'
  remote_path: '/webapps/acme'
  repository: https://github.com/teachbase/tb-acme
